html {
    font-family: Arial;
    font-size: 13px;
}

.grid {
    display: grid;
    margin: auto;
    grid-template-areas: "top top"
                        "mid mid"
                        "bottom bottom"
                        "left right";
    grid-template-rows: 30% 60% 5% 5%;
    grid-template-columns: 50% 50%;
    min-height: 675px;
}

.top {
    grid-area: top;
    justify-self: end;
    word-spacing: 0.6em;
    margin-right: 20px;
 }

 .top a {
     color: black;
     text-decoration: none;
 }

 .top a:hover {
     text-decoration: underline;
 }

 .top button {
     font-size: 12px;
     color: white;
     background: #4d90fe;
     border-color: #3079ed;
     font-weight: bold;
     margin: 10px 0 0 0;
     border-radius: 2px;
     -moz-border-radius: 2px;
     -webkit-border-radius: 2px;
     width: 90px;
     height: 30px;
 }

.mid {
     grid-area: mid;
     text-align: center;
     margin: 3px;
     align-self: center;
}

#search {
    width: 580px;
    height: 40px;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.23);
    background-color: #FFFFFF;
    border-style: none;
    border-radius: 2px;
    margin: 5px;
}

img {
    width: 275px;
    margin: 10px 10px;
  }

#haku {
    font-size: 13px;
    background-color: rgb(245, 245, 245);
    color: rgb(119, 119, 119);
    font-weight: bold;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    height: 35px;
    width: 110px;
}

#lucky {
    font-size: 13px;
    background-color: rgb(245, 245, 245);
    color: rgb(119, 119, 119);
    font-weight: bold;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    height: 35px;
    width: 140px;
}

.mid a {
    color: rgb(1, 1, 145);
    text-decoration: none;
}

.mid a:hover {
    text-decoration: underline;
}

.bottom {
    grid-area: bottom;
    color: rgb(104, 103, 103);
    background-color: rgb(240, 240, 240);
    font-size: 15px;
    border-top: 1px solid #e4e4e4;
    height: 40px;
}

.bottom-left {
    grid-area: left;
    background-color: rgb(240, 240, 240);
    color: rgb(104, 103, 103);
    border-top: 1px solid #e4e4e4;
    height: 40px;
    word-spacing: 2em;
   }

.bottom-right {
    grid-area: right;
    background-color: rgb(240, 240, 240);
    color: rgb(104, 103, 103);
    border-top: 1px solid #e4e4e4;
    height: 40px;
    word-spacing: 2em;
}

.bottom-left a, .bottom-right a {
    color: rgb(104, 103, 103);
    text-decoration: none;
}

.bottom-left a:hover, .bottom-right a:hover {
    text-decoration: underline;
}